.container  {
  width: 870px;
  height: 702px;
  margin: auto;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05), 0px -2px 10px rgba(0, 0, 0, 0.05); */
  border-radius: 5px;
  left: 432px;
  font-family: Roboto;
  top: 165px;
}
.container .background {
  margin-left: 2%;
  padding-top: 2%;
}

.container .judul {
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
margin: 1%;
color: #007AFF;

}
.container .form-control {
  width: 480px;
  height: 42px;
  margin: 1%;
  }
.container .form {
  margin: 1%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #757575;

}

.container .background .kumpulan-form .btn {
  margin: 1%;
  width: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

