.background-footer1 {
    height: 250px;
    width: 360px;
}
.keterangan {
    margin-top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;


    color: #D6D6D6;
}